body {
	width: 100%;
	background-color: #66eeff;
}

.container {
	position: absolute;
	left: 10%;
	right: 10%;
	background-color: #6699ff;
	height: 100%;
	top: 0;
	width: 80%;
}

h1 {
	color: #ffffff;
	font-family: "Berlin Sans FB Demi";
	font-size: 80px;
	text-align: center;
}

.button {
	background-color: #777777;
	font-family: "Arial Unicode MS";
	font-size: 30px;
	width: 250px;
	border-style: solid;
	border-radius: 15px;
	border-color: #666 #666 #444 #444;
}

a:link, a:visited {
	color: #dddddd;
	text-decoration:none;
}
