body {
	width: 99%;
	background-color: #bbbbbb;
}

.container {
	position: absolute;
	left: 10%;
	right: 10%;
	background-color: #333333;
	height: 100%;
	top: 0;
	width: 80%;
	opacity: 0.9;
}

h1 {
	color: #ffffff;
	font-family: "Berlin Sans FB Demi";
	font-size: 80px;
	text-align: center;
}

.button {
	background-color: #000000;
	font-family: "Berlin Sans FB";
	font-size: 30px;
	width: 250px;
	border-style: solid;
	border-radius: 15px;
	border-color: #666 #666 #444 #444;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

a:link, a:visited {
	color: rgb(255, 128, 0);
	text-decoration:none;
}

.leftside {
	background-color: #333333;
	position: absolute;
	left: 12%;
	width: 35%;
	height: 50%;
	border-style: solid;
	border-radius: 3px;
	border-color: #999 #999 #999 #999;
	opacity: 0.7;
}

.rightside {
	background-color: #888888;
	position: absolute;
	right: 12%;
	width: 35%;
	height: 50%;
	border-style: solid;
	border-radius: 3px;
	border-color: #666 #666 #666 #666;
}

.smalltitle {
	color: #ffffff;
	font-size: 25px;
	position: absolute;
	left: 2%;
	font-family: "Comic Sans MS";
}

#left {
	position: absolute;
	top: 7%;
	left: 4%;
	color: #ffffff;
	font-family: "Berlin Sans FB Demi";
	font-size: 20px;
}

