.navigator {
        position: absolute;
        top: 3%;
        width: 90%;
        left: 5%;
        height: 6%;
        background-color: #888;
        border-style: solid;
        border-radius: 10px;
        border-color: #888 #666 #444 #222;
}

.navigator-button {
	position: relative;
	width: 15%;
	height: 77%;
	background-color: #666;
	border-style: solid;
	border-radius: 3px;
	border-color: #666 #666 #555 #555;
	display: inline;
	float: left;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	overflow: hidden;
	font-family: "Berlin Sans FB Demi";
}
