.window {
	position: absolute;
	top: 10%;
	width: 90%;
	left: 5%;
	height: 85%;
	background-color: #bbb;
	border-style: solid;
	border-color: #777 #888 #777 #888;

}

.list {
	position: absolute;
	top: 1%;
	width: 15%;
	left: 2%;
}

.admincontainer {
	position: absolute;
	top: 0%;
	width: 80%;
	height: 100%;
	background-color: #555;
	left: 20%;
}

.content {
	position: absolute;
	top: 1%;
	height: 95%;
	left: 3%;
	width: 94%;
	background-color: none;
}

.tag {
	position: relative;
	margin-top: 10px;
}

.menu {
	position: relative;
	top: 0;
}

.smalltag {
	position: relative;
	margin-top: 10px;
	font-size: 18px;
	font-family: "Berlin Sans FB";
	display: inline-block;
	left: 0px;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	border-style: solid;
	border-radius: 10px;
}

.tag {
	position: relative;
	margin-bottom: 5px;
	height: 100px;
}

.tagtitle {
	position: absolute;
	background-color: #000;
	top: 0%;
	color: #fff;
	width: 100%;
	height: 20px;
}

.tagcontent {
	background-color: #ddd;
	top: 20px;
	height: 100px;
}
