.window {
	position: absolute;
	top: 10%;
	width: 90%;
	left: 5%;
	height: 85%;
	background-color: #bbb;
	border-style: solid;
	border-color: #777 #888 #777 #888;

}

.list {
	position: absolute;
	top: 1%;
	width: 15%;
	left: 0%;
}

.admincontainer {
	position: absolute;
	top: 0%;
	width: 80%;
	height: 100%;
	background-color: #555;
	left: 20%;
}
